<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Inventory Management</h1>
  </header>

  <% if (message && message.length > 0) { %>
    <div class="flash-messages">
      <% message.forEach(msg => { %>
        <p><%= msg %></p>
      <% }) %>
    </div>
  <% } %>

  <main>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Make</th>
          <th>Model</th>
          <th>Year</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% inventory.forEach(vehicle => { %>
          <tr>
            <td><%= vehicle.inv_id %></td>
            <td><%= vehicle.inv_make %></td>
            <td><%= vehicle.inv_model %></td>
            <td><%= vehicle.inv_year %></td>
            <td>$<%= vehicle.inv_price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>
</body>
</html>
