<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head.ejs") %>
  <title><%= title %> | CSE Motors</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("../partials/header.ejs") %>
  <%- include("../partials/nav.ejs") %>

  <main>
    <h1><%= title %></h1>
    <div class="vehicle-list">
      <% vehicles.forEach(vehicle => { %>
        <div class="vehicle-card">
          <img class="card-img" src="/images/<%= vehicle.image %>" alt="<%= vehicle.make %> <%= vehicle.model %>">
          <div class="card-info">
            <h3><%= vehicle.make %> <%= vehicle.model %></h3>
            <p class="price">$<%= vehicle.price.toLocaleString() %></p>
            <p class="year">Year: <%= vehicle.year %></p>
            <a href="/cars/<%= vehicle.id %>" class="btn">View Details</a>
          </div>
        </div>
      <% }) %>
    </div>
  </main>

  <%- include("../partials/footer.ejs") %>
</body>
</html>
